/* style.css */

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #020303;
    padding: 10px 20px;
    border-bottom: 1px solid #e7e7e7;
}

h1, h2, h3, h4, h5, h6 {
    color: #007BFF;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-top: 1px solid #e7e7e7;
    margin-top: 40px;
}

iframe {
    border: 1px solid #e7e7e7;
    border-radius: 4px;
}
